.SignUp {
  width: 26rem;
  padding: 32px 48px;
  border: 1.5px solid var(--black);
  border-radius: 8px;
  text-align: center;
  background-color: var(--white);
}

.SignUp h1 {
  margin-bottom: 32px;
  text-align: center;
}

.SignUp__submit-btn {
  width: 100%;
  padding: 10px 8px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  color: white;
  background-color: var(--primary);
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.SignUp__submit-btn:hover {
  background-color: var(--primary-alt);
}

.SignUp__alternative {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
  color: var(--tab-header);
}

.SignUp__options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 8px;
}

.SignUp button img {
  height: 16px;
}

.SignUp__options__option {
  width: 4.5rem;
  height: 2rem;
  padding-top: 0.2rem;
  border: none;
  border-radius: 36px;
  cursor: pointer;
}

.google {
  background-color: #fdf0f0;
}

.google:hover {
  background-color: #f4dfdf;
}

.facebook {
  background-color: #f3f6fb;
}

.facebook:hover {
  background-color: #e1e6ef;
}

.github {
  background-color: #f3f4f6;
}

.github:hover {
  background-color: #ebebeb;
}

.SignUp__link {
  all: unset;
  justify-self: center;
}

@media only screen and (max-width: 768px) {
  .SignUp {
    width: 80vw;
    padding: 8px 16px;
    border: 1.5px solid var(--black);
    border-radius: 8px;
  }
}
