.ClipboardField {
  background-color: var(--field);
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.ClipboardField__text {
  margin-right: auto;
  white-space: nowrap;
}

.ClipboardField__clipboard {
  display: grid;
  place-items: center;
  cursor: pointer;
  margin-left: 8px;
}

@media only screen and (max-width: 768px) {
  .ClipboardField {
    font-size: 0.65rem;
  }
}
