.Profile {
  display: grid;
  grid-template-areas:
    'heading nav'
    'profile-card details';
  grid-template-columns: 4fr 11fr;
  column-gap: 32px;
  row-gap: 24px;
}

.Profile__heading {
  grid-area: heading;
  font-size: 3rem;
}

.Profile__tabs {
  grid-area: nav;
  display: flex;
  align-items: center;
}

.ProfileCard {
  grid-area: profile-card;
}

.Profile__details {
  grid-area: details;
}

.Profile__tabs--ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 80%;
  gap: 4px;
}

.Profile__tabs__header {
  padding: 8px 16px;
  height: 100%;
  position: relative;
  color: var(--tab-header);
}

.Profile__tabs__header.active {
  font-weight: 800;
  color: var(--primary);
}

.Profile__tabs__header.active::after {
  position: absolute;
  content: '';
  height: 5px;
  width: 100%;
  background-color: var(--primary);
  bottom: 0;
  left: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
