.TabGeneral {
  padding: 24px;
  box-shadow: var(--border);
  border-radius: 8px;
}

.TabGeneral__header {
  font-size: 2rem;
  margin-top: 8px;
  margin-bottom: 24px;
}

.TabGeneral__fieldset {
  all: unset;
  width: 100%;
}
