.TabGeneral {
  padding: 24px;
  box-shadow: var(--border);
  border-radius: 8px;
}

.TabGeneral__header {
  font-size: 2rem;
  margin-top: 8px;
  margin-bottom: 24px;
}

.TabGeneral__fieldset {
  all: unset;
  width: 100%;
}

.TabGeneral__fieldset.profile {
  display: grid;
  grid-template-areas:
    'fullName displayName'
    'title title'
    'location location'
    'bio bio';
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 8px;
}

.TabGeneral__fieldset__fullName {
  grid-area: fullName;
}

.TabGeneral__fieldset__displayName {
  grid-area: displayName;
}

.TabGeneral__fieldset__title {
  grid-area: title;
}

.TabGeneral__fieldset__location {
  grid-area: location;
}

.TabGeneral__fieldset__bio {
  grid-area: bio;
}

.TabGeneral hr {
  width: 100%;
  border: 1px var(--subtext) solid;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 16px;
}
