.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: black;
  padding: 6rem 6rem 2rem 6rem;
}

.Footer__product,
.Footer__resources,
.Footer__company {
  display: flex;
  flex-direction: column;
  line-height: 32px;
}

.Footer--wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

h3 {
  color: var(--surface-alt);
}

a,
p {
  color: var(--subtext);
}

.Footer--wrapper .Logo > svg {
  transition: transform 0.8s ease-in-out;
}

.Footer--wrapper .Logo > svg:hover {
  transform: rotate(360deg);
}
