.Navbar {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}

.Navbar__links {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 100%;
}

nav a {
  all: unset;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--icon);
  cursor: pointer;
}

nav a:hover {
  color: var(--icon-hover);
}

.Navbar__links__button {
  all: unset;
  background-color: var(--primary);
  padding: 6px 16px;
  border-radius: 16px;
  color: var(--surface);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  gap: 6px;
}

.Navbar__links__button:hover {
  background-color: var(--primary-alt);
}

.Navbar__links__new-post-icon,
.Navbar__links__feed-icon {
  color: var(--black);
}

.Navbar__profile-photo {
  display: flex;
  align-items: center;
  height: fit-content;
  height: 100%;
  position: relative;
}

.Navbar__profile-photo__img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}
