.CardArticle {
  display: flex;
  background-color: var(--white);
  box-shadow: var(--border);
  border-radius: 16px;
  transition: all 50ms ease-in;
  cursor: pointer;
}

.CardArticle:hover {
  box-shadow: var(--border-hover);
  transform: scale(1.01);
}

.CardArticle__img {
  width: clamp(150px, 30lvw, 12rem);
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.CardArticle__details {
  padding: 24px;
}

.CardArticle__details__header {
  font-weight: 500;
  font-size: min(4vw, 1.35rem);
  display: flex;
  flex-wrap: wrap;
}

.CardArticle__details__description {
  color: var(--subtext);
  margin: 16px 0;
  font-size: min(3vw, 1.35rem);
}

.CardArticle__details__tags {
  display: flex;
  gap: 8px;
}
