.CardArticle {
  display: flex;
  background-color: var(--white);
  box-shadow: var(--border);
  border-radius: 16px;
  transition: all 50ms ease-in;
  cursor: pointer;
}

.CardArticle:hover {
  box-shadow: var(--border-hover);
  transform: scale(1.01);
}

.CardArticle__img {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.CardArticle__details {
  padding: 24px;
}

.CardArticle__details__header {
  margin-bottom: 16px;
}
