.Feed {
  display: grid;
  grid-template-areas: 'main aside';
  grid-template-columns: 8fr 4fr;
  column-gap: 32px;
}

.Feed__main {
  grid-area: main;
}

.Feed__aside {
  grid-area: aside;
}

.Feed .header {
  margin-bottom: 16px;
}

.Feed__aside__cards {
  display: grid;
  row-gap: 16px;
}

.Feed__main__cards {
  display: grid;
  row-gap: 24px;
}
