.Feed {
  display: grid;
  grid-template-areas: 'main aside';
  grid-template-columns: 8fr 4fr;
  column-gap: 32px;
  width: 100%;
}

.Feed__main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.Feed__aside {
  grid-area: aside;
  width: 100%;
}

.Feed .header:first-child {
  margin-top: 0;
}

.Feed .header {
  margin-top: 24px;
  font-size: 1.75rem;
  margin-bottom: 16px;
}

.Feed__aside__cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.Feed__main__cards {
  display: grid;
  row-gap: 24px;
}

@media only screen and (max-width: 768px) {
  .Feed {
    grid-template-areas:
      'main'
      'aside';
    grid-template-columns: 1fr;
    column-gap: none;
  }

  .Feed__aside .header:first-child {
    margin-top: 24px;
  }
}
