.Feed {
  display: grid;
  grid-template-areas: 'main aside';
  grid-template-columns: 9fr 3fr;
}

.Feed__main {
  grid-area: main;
}

.Feed__aside {
  grid-area: aside;
}

.Feed .header {
  margin-bottom: 16px;
  margin-top: 16px;
}
