.SignUp {
  width: 26rem;
  padding: 32px 48px;
  border: 1.5px solid var(--black);
  border-radius: 8px;
}

.SignUp h1 {
  margin-bottom: 32px;
  text-align: center;
}

.FormField {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 16px;
}

.SignUp input {
  border: none;
  background-color: var(--field);
  width: 100%;
  padding: 4px 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.SignUp input:focus {
  outline: none;
}

.FormField__field {
  background-color: var(--field);
  width: 100%;
  padding: 4px 8px;
  font-weight: bold;
  color: rgb(104, 101, 101);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.SignUp__submit-btn {
  width: 100%;
  padding: 0.6rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  color: white;
  background-color: var(--primary);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
}

.SignUp__submit-btn:hover {
  background-color: var(--primary-alt);
}

.SignUp__alternative {
  text-align: center;
  margin-bottom: 0.6rem;
}

.SignUp__options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.SignUp button img {
  height: 1rem;
}

.SignUp__options__option {
  width: 4.5rem;
  height: 2rem;
  padding-top: 0.2rem;
  border: none;
  border-radius: 36px;
  cursor: pointer;
}

.google {
  background-color: #fdf0f0;
}

.google:hover {
  background-color: #f4dfdf;
}

.facebook {
  background-color: #f3f6fb;
}

.facebook:hover {
  background-color: #e1e6ef;
}

.github {
  background-color: #f3f4f6;
}

.github:hover {
  background-color: #ebebeb;
}

@media only screen and (max-width: 768px) {
  .SignUp {
    width: 80vw;
    padding: 8px 12px;
    border: 1.5px solid var(--black);
    border-radius: 8px;
  }
}
