.App {
  position: relative;
}

.App--wrapper {
  /* + Navbar height */
  padding: calc(32px + 64px) 24px 64px 24px; /* based on Medium.com's padding */
  position: relative;
}

@media only screen and (min-width: 768px) {
  .App--wrapper {
    /* + Navbar height */
    padding: calc(32px + 64px) 10vw 64px 10vw;
  }
}
