.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* overflow-x: hidden; */
}

.App--wrapper {
  /* + Navbar height */
  padding: calc(32px + 64px) 24px 64px 24px; /* based on Medium.com's padding */
  position: relative;
  background: url(./assets/asfalt-light.png) repeat;
  z-index: 1;
}

.MutatingDots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  .App--wrapper {
    /* + Navbar height */
    padding: calc(32px + 64px) 10vw 64px 10vw;
  }
}
