.ghostButton {
  all: unset;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--white);
  color: var(--primary);
  font-weight: 500;
  border: 1px solid var(--primary-alt);
}

.ghostButton:hover {
  cursor: pointer;
  background-color: var(--surface-alt);
}
